/*#toc > ul > li> a, #toc > ul > li> a:link, #toc > ul > li> a:visited {
    font-weight: bold;
    color: #707070;
    background: #c1dff5;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    padding-left: 0.2em;
}

#toc ul li a:active:active, #toc ul li a:active.active {
    background: #ffb1a5;
}

#toc ul li a:hover {
    color: #000000;
    background: #ff8472;
    border-color: #f46149;
}

#toc > ul > li:not(:first-child) {
    margin-top: 0.3em;
}

#toc > ul > li:first-child .title {
    margin-left: 2em;
}

#toc > ul > li > a .codenumber {
    position: absolute;
    margin-right: 0;
    margin-left: 0.5em;
    left: 0.3em;
    display: inline-block;
}

#toc > ul > li > a .codenumber + .title {
    margin-left: 2em;
}*/