#toc {
  /* IMPORTANT height must be calculated by javascript. */
    width: 240px;
    margin: 0;
    font-size: 14.72px;
    overflow-y: auto;
    overflow-x: hidden;
    /* Enable momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch;
}

#toc ul {
    margin: 0px;
    padding: 0px;
}

#toc ul li a {
    position: relative;
    display: block;
    padding: 2.86957px;
    padding-left: 1.5em;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

/*Removes underlines from links in toc*/
#toc ul li a, #toc ul li a:link, #toc ul li a:visited, #toc ul li a:hover, #toc ul li a:active {
    text-decoration: none;
}

/*Sets subsection color scheme*/
#toc ul li a, #toc ul li a:link, #toc ul li a:visited {
    color: #671d12;
    background: #f0f0f0;
}

/*Sets colors while hovering*/
#toc ul li a:hover {
    color: white;
    background: #671d12;
    border-color: #3c110a;
}

#toc ul li ul li:last-child a {
    border-bottom: none;
}

#toc ul li ul li:last-child {
    margin-bottom: -0.3em;
}

#toc ul li ul li a {
    border-top: none;
}

#toc > ul > li> a, #toc > ul > li> a:link, #toc > ul > li> a:visited {
    font-weight: bold;
    color: #ffffff;
    background: #3572a0;
    border-color: #30668e;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    padding-left: 0.2em;
}

#toc ul li a.active {
    background: #932919
}

#toc ul li a:hover {
    background: #671d12;
    border-color: #3c110a;
}

#toc ul li ul a:hover {
    border-top: 1px solid #3c110a;
    margin-top: -1px;
}

#toc > ul > li:not(:first-child) {
    margin-top: 0.3em;
}

#toc > ul > li:first-child .title, #toc > ul > li:last-child .title {
    margin-left: 2em;
}

#toc > ul > li > a .codenumber {
    position: absolute;
    margin-right: 0;
    margin-left: 0em;
    left: 0.3em;
    display: inline-block;
}

#toc > ul > li > a .codenumber + .title {
    margin-left: 1.3em;
    display: inline-block;
}