#toc > ul > li> a, #toc > ul > li> a:link, #toc > ul > li> a:visited {
    font-weight: bold;
    color: #505050;
    background: #dbf5ff;
    border-color: #afc2e5;
    font-family: "PT Serif", "Times New Roman", Times, serif;
    padding-left: 0.2em;
}

#toc ul li ul a, #toc ul li ul a:link, #toc ul li ul a:visited {
    color: #505050;
    background: #ffffff;
}

#toc ul li a:hover, #toc ul li ul a:hover {
    color: #321a0c;
    background: #fac793;
    border-color: #ec704b;
}

#toc ul li a.active, ul li ul a.active {
    color: #404040;
    background: #fae5b6;
    border-color: #d7b772;
}

#toc > ul > li:not(:first-child) {
    margin-top: 0.3em;
}

#toc > ul > li:first-child .title {
    margin-left: 2em;
}

#toc > ul > li > a .codenumber {
    position: absolute;
    margin-right: 0;
    margin-left: 0.5em;
    left: 0.3em;
    display: inline-block;
}

#toc > ul > li > a .codenumber + .title {
    margin-left: 2em;
}